<style>
  body {background-color: transparent}
</style>

<div class="jumbotron col-xs-12">
  <div class="container">
    <div align="right">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Post</button>
    </div>
<br>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div ng-controller="BlogClientCtrl">
            <form novalidate class="simple-form">
              Username:

              <input type="text" ng-model="post.username"/><br />
              <br>

              Title:

              <input type="text" ng-model="post.title"/><br />
              <br>
              Content
              <br>

              <textarea rows="4" cols="50" type="text" ng-model="post.content">
              </textarea>

              <br>
              <input type="submit" ng-click="PostCtrl(post)" value="Post" />
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div ng-controller="BlogClientCtrl" ng-init="display()">
    <div align="left" ng-repeat="a in posts" class="container" style="padding:20px; border-color: black; border-width: 4px; border-style: solid; margin-bottom: 4px">
        Username: {{a.username}}<br>
        Title: {{a.title}}<br>
      <br>
      {{a.content}}
    </div>
  </div>
</div>
