<style>
  body {background-color: transparent}
</style>
<div class="jumbotron col-xs-12">
  <div class="signup-container col-xs-6">
    <div class="col-md-12">
      <h3 class="signup-header">Signup as a New User</h3>
      <hr>
      <br>
    </div>

    <div class="signup-form">

      <form class="form-horizontal">


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="username">Username</label>
          <div class="col-md-5">
            <input id="username" name="username" ng-model="signup.user.username" type="text" placeholder="" class="form-control input-md">

          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password1">Password</label>
          <div class="col-md-5">
            <input id="password1" name="password1" ng-model="signup.user.password1" type="password" placeholder="" class="form-control input-md">

          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password2">Retype Password</label>
          <div class="col-md-5">
            <input id="password2" name="password2" ng-model="signup.user.password2" type="password" placeholder="" class="form-control input-md">

          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="signup"></label>
          <div class="col-md-5">
            <button ng-click="signup.submit()" id="signup" name="signup" class="btn btn-success btn-block">Signup!</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="col-md-12">
      <h3>Log In!</h3>
      <hr>
      <br>
    </div>

    <div ng-controller="LoginCtrl">
      <form novalidate class="simple-form">
        Username:

        <input type="text" ng-model="post.username"/><br />
        <br>

        Password:

        <input type="password" ng-model="post.password"/><br />
        <br>


        <input type="submit" ng-click="LogCtrl(post)" value="Log In" />
      </form>
    </div>
  </div>

</div>

