<style>
  body {background-color: transparent}
</style>

<div class="jumbotron">
    <img src="images/Keeper_Team_logo.png"><br>
<br>
    <p>
      Hello visitor and welcome to the Keep! Please allow us to introduce you the home of all our ideas,
      where we create and protect them with care, so you might enjoy them, and if you don't, well send us
      your hatemail or whatever you want to tell us, after all we are always in search to please the most
      that we can, we also accept lovemail, so don't stop if you want to give us the thanks ;).
    </p>

</div>


